#!/bin/sh
# =====================================================================
# {{ package_name }} 算法组件自动部署脚本
# (由 xpu-model-converter 渲染生成, 请勿手工修改)
#
# 用法:
#   sh build.sh             # 安装(默认): 删除旧容器/镜像后构建并启动
#   sh build.sh -i          # 同上
#   sh build.sh -r          # 重启容器
#   sh build.sh -stop       # 停止容器
#   sh build.sh -d          # 删除容器与镜像
#   sh build.sh -h          # 用法说明
# 说明:
#   - 部署参数在本目录 Dockerfile 的 ENV 中, 改后重新执行 install 生效;
#     若存在平台生成的 install.conf, 脚本会自动用其中配置覆盖 Dockerfile 的 ENV。
#   - 昆仑芯 XPU 服务器带 --privileged --device=/dev/xpuctrl 启动
# =====================================================================

# 定义算法包相关信息版本号、算法镜像名称，算法包的容器名称，算法包使用的端口号
algorithm_name="{{ algorithm_name }}"
version="{{ package_version }}"
port="{{ web_port }}"
container_name=$algorithm_name"_"$version
image_name=$algorithm_name":"$version

echo "算法名称: $algorithm_name"
echo "容器名称: $container_name"
echo "版本号:   $version"
echo "端口号:   $port"
echo "算法镜像: $image_name"

# 默认端口映射
port_param="-p $port:$port"

# docker run启动额外参数
docker_run_param=""

# 获取Dockerfile中基础镜像名称:版本
base_image=$(grep -oP "(?<=FROM ).*" Dockerfile | tr -d '\n\r')
echo "基础镜像: $base_image"
if docker image inspect $base_image > /dev/null 2>&1; then
    echo "机器已经安装基础镜像:$base_image"
else
    echo "构建失败.错误原因: 机器未安装基础镜像:$base_image.请从功能[推理镜像管理]安装该镜像."
    exit -1
fi

# 通过推理平台安装的配置文件
file_path='./install.conf'

# 判断配置文件是否存在
if [ -f "$file_path" ]; then
    # 读取配置文件内指定变量
    GPU_ID=$(grep -oP "(?<=GPU_ID=).*" install.conf | tr -d '\n\r')
    HOST_IP=$(grep -oP "(?<=HOST_IP=).*" install.conf | tr -d '\n\r')
    WORKERS=$(grep -oP "(?<=WORKERS=).*" install.conf | tr -d '\n\r')
    MINIO_HOST=$(grep -oP "(?<=MINIO_HOST=).*" install.conf | tr -d '\n\r')
    MINIO_PORT=$(grep -oP "(?<=MINIO_PORT=).*" install.conf | tr -d '\n\r')
    MINIO_BUCKET=$(grep -oP "(?<=MINIO_BUCKET=).*" install.conf | tr -d '\n\r')
    MINIO_ACCESS_KEY=$(grep -oP "(?<=MINIO_ACCESS_KEY=).*" install.conf | tr -d '\n\r')
    MINIO_SECRET_KEY=$(grep -oP "(?<=MINIO_SECRET_KEY=).*" install.conf | tr -d '\n\r')
    KAFKA_HOST=$(grep -oP "(?<=KAFKA_HOST=).*" install.conf | tr -d '\n\r')
    KAFKA_PORT=$(grep -oP "(?<=KAFKA_PORT=).*" install.conf | tr -d '\n\r')
    KAFKA_TOPIC=$(grep -oP "(?<=KAFKA_TOPIC=).*" install.conf | tr -d '\n\r')
    DOCKER_RUN_ADDI_PARAMS=$(grep -oP "(?<=DOCKER_RUN_ADDI_PARAMS=).*" install.conf | tr -d '\n\r')
    PROVINCE_CODE=$(grep -oP "(?<=PROVINCE_CODE=).*" install.conf | tr -d '\n\r')
    BUREAU_CODE=$(grep -oP "(?<=BUREAU_CODE=).*" install.conf | tr -d '\n\r')
    REGION_CODE=$(grep -oP "(?<=REGION_CODE=).*" install.conf | tr -d '\n\r')

    # 修改Dockerfile内的指定变量
    if [ -z $GPU_ID ]; then
        echo "GPU_ID为空"
    else
        echo "准备修改GPU_ID,请耐心等候..."
        sed -i "s/GPU_ID=.*/GPU_ID=${GPU_ID}/g" Dockerfile
        echo "成功修改GPU_ID"
    fi

    if [ -z $HOST_IP ]; then
        echo "HOST_IP为空"
    else
        echo "准备修改HOST_IP,请耐心等候..."
        sed -i "s/HOST_IP=.*/HOST_IP=${HOST_IP}/g" Dockerfile
        echo "成功修改HOST_IP"
    fi

    if [ -z $WORKERS ]; then
        echo "WORKERS为空"
    else
        echo "准备修改WORKERS,请耐心等候..."
        sed -i "s/workers=.*/workers=${WORKERS}/g" Dockerfile
        echo "成功修改WORKERS"
    fi

    if [ -z $MINIO_HOST ]; then
        echo "MINIO_HOST为空"
    else
        echo "准备修改MINIO_HOST,请耐心等候..."
        sed -i "s/MINIO_HOST=.*/MINIO_HOST=${MINIO_HOST}/g" Dockerfile
        echo "成功修改MINIO_HOST"
    fi

    if [ -z $MINIO_PORT ]; then
        echo "MINIO_PORT为空"
    else
        echo "准备修改MINIO_PORT,请耐心等候..."
        sed -i "s/MINIO_PORT=.*/MINIO_PORT=${MINIO_PORT}/g" Dockerfile
        echo "成功修改MINIO_PORT"
    fi

    if [ -z $MINIO_BUCKET ]; then
        echo "MINIO_BUCKET为空"
    else
        echo "准备修改MINIO_BUCKET,请耐心等候..."
        sed -i "s/MINIO_BUCKET=.*/MINIO_BUCKET=${MINIO_BUCKET}/g" Dockerfile
        echo "成功修改MINIO_BUCKET"
    fi

    if [ -z $MINIO_ACCESS_KEY ]; then
        echo "MINIO_ACCESS_KEY为空"
    else
        echo "准备修改MINIO_ACCESS_KEY,请耐心等候..."
        sed -i "s/MINIO_ACCESS_KEY=.*/MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}/g" Dockerfile
        echo "成功修改MINIO_ACCESS_KEY"
    fi

    if [ -z $MINIO_SECRET_KEY ]; then
        echo "MINIO_SECRET_KEY为空"
    else
        echo "准备修改MINIO_SECRET_KEY,请耐心等候..."
        sed -i "s/MINIO_SECRET_KEY=.*/MINIO_SECRET_KEY=${MINIO_SECRET_KEY}/g" Dockerfile
        echo "成功修改MINIO_SECRET_KEY"
    fi

    if [ -z $KAFKA_HOST ]; then
        echo "KAFKA_HOST为空"
    else
        echo "准备修改KAFKA_HOST,请耐心等候..."
        sed -i "s/KAFKA_HOST=.*/KAFKA_HOST=${KAFKA_HOST}/g" Dockerfile
        echo "成功修改KAFKA_HOST"
    fi

    if [ -z $KAFKA_PORT ]; then
        echo "KAFKA_PORT为空"
    else
        echo "准备修改KAFKA_PORT,请耐心等候..."
        sed -i "s/KAFKA_PORT=.*/KAFKA_PORT=${KAFKA_PORT}/g" Dockerfile
        echo "成功修改KAFKA_PORT"
    fi

    if [ -z $KAFKA_TOPIC ]; then
        echo "KAFKA_TOPIC为空"
    else
        echo "准备修改KAFKA_TOPIC,请耐心等候..."
        sed -i "s/KAFKA_TOPIC=.*/KAFKA_TOPIC=${KAFKA_TOPIC}/g" Dockerfile
        echo "成功修改KAFKA_TOPIC"
    fi

    if [ -z "$DOCKER_RUN_ADDI_PARAMS" ]; then
        echo "DOCKER_RUN_ADDI_PARAMS为空"
    else
        docker_run_param=$DOCKER_RUN_ADDI_PARAMS
    fi

    if [ -z $PROVINCE_CODE ]; then
        echo "PROVINCE_CODE为空"
    else
        echo "准备修改PROVINCE_CODE,请耐心等候..."
        sed -i "s/PROVINCE_CODE=.*/PROVINCE_CODE=${PROVINCE_CODE}/g" Dockerfile
        echo "成功修改PROVINCE_CODE"
    fi

    if [ -z $BUREAU_CODE ]; then
        echo "BUREAU_CODE为空"
    else
        echo "准备修改BUREAU_CODE,请耐心等候..."
        sed -i "s/BUREAU_CODE=.*/BUREAU_CODE=${BUREAU_CODE}/g" Dockerfile
        echo "成功修改BUREAU_CODE"
    fi

    if [ -z $REGION_CODE ]; then
        echo "REGION_CODE为空"
    else
        echo "准备修改REGION_CODE,请耐心等候..."
        sed -i "s/REGION_CODE=.*/REGION_CODE=${REGION_CODE}/g" Dockerfile
        echo "成功修改REGION_CODE"
    fi

else
    echo "配置文件install.conf不存在,使用默认配置"
fi

echo "额外参数: $docker_run_param"

# 获取Dockerfile中GPU_ID值
gpu_id=$(grep -oP "(?<=ENV GPU_ID=).*" Dockerfile | tr -d '\n\r')
echo "GPU_ID环境变量的值: $gpu_id"

# AI芯片docker run参数(昆仑芯 XPU)
device_param="--privileged --device=/dev/xpuctrl"

echo "device_param参数: $device_param"

# 通过额外启动参数 禁用特权参数
if echo "$docker_run_param" | grep -q "privileged=false"; then
    echo "privileged 已设置: false(关闭--privileged)"
    echo "device_param 原来 $device_param"
    device_param=$(echo "$device_param" | awk '{gsub("--gpus device=all", ""); print}')
    echo "device_param 改为 $device_param"
else
    echo "privileged 未设置false.使用默认设置: enable(开启--privileged=true)"
fi

# 通过额外启动参数 禁用原端口映射
if echo "$docker_run_param" | grep -q "NWAI_USE_PORT_PORT=false"; then
    echo "NWAI_USE_PORT_PORT 已设置:false.原端口映射: $port_param 被禁用"
    port_param=""
else
    echo "NWAI_USE_PORT_PORT 未设置.使用默认设置: enable(开启$port_param)"
fi

# 读取命令参数(install/stop/restart/delete)
command=$1

# 根据命令执行相应操作
case $command in

    "-i"|"install"|"--install")
        if docker ps -a | grep -q $algorithm_name; then
            old_container=$(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "找到旧版本的容器: $old_container"
            docker stop $(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "成功停止旧版本的容器: $old_container"
            echo "开始删除旧版本的容器: $old_container"
            docker rm $(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "成功删除旧版本的容器: $old_container"
        else
            echo "找不到旧版本的容器: $algorithm_name [跳过]"
        fi

        if docker images -a | grep -q $algorithm_name; then
            old_image=$(docker images -a | grep $algorithm_name | awk '{print $1 ":" $2}')
            echo "找到旧版本的镜像: $old_image"
            docker rmi $(docker images -a | grep $algorithm_name | awk '{print $1 ":" $2}')
            echo "成功删除旧版本的镜像: $old_image"
        else
            echo "找不到旧版本的镜像: $algorithm_name [跳过]"
        fi

        echo "开始构建镜像: $image_name"
        docker_build_cmd="docker build -t $image_name ."
        $docker_build_cmd
        if [ $? -eq 0 ]; then
            echo "构建镜像[正常]: $image_name"
        else
            echo "构建镜像[失败]: 状态码: $?"
            exit -1
        fi

        echo "开始创建容器: $container_name"

        docker run -d \
        $port_param \
        --name $container_name \
        $device_param \
        $docker_run_param \
        --restart=always \
        $image_name

        if [ $? -eq 0 ]; then
            echo "创建容器[正常]: $container_name"
        else
            echo "创建容器[失败]: 状态码:$?"
        fi

        echo "容器创建命令:
        docker run -d \
        $port_param \
        --name $container_name \
        $device_param \
        $docker_run_param \
        --restart=always \
        $image_name"

        ;;

    "-r"|"restart"|"--restart")
        if docker ps -a | grep -q $algorithm_name; then
            echo "开始重启容器: $(docker ps -a | grep $algorithm_name | awk '{print $1}')"
            docker restart $(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "成功重启容器: $(docker ps -a | grep $algorithm_name | awk '{print $1}')"
        else
            echo "找不到容器: $(docker ps -a | grep $algorithm_name | awk '{print $1}')"
        fi
        ;;

    "-stop"|"stop"|"--stop")
        if docker ps -a | grep -q $algorithm_name; then
            echo "开始停止容器: $(docker ps -a | grep $algorithm_name | awk '{print $1}')"
            docker stop $(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "成功停止容器: $(docker ps -a | grep $algorithm_name | awk '{print $1}')"
        else
            echo "找不到容器: $(docker ps -a | grep $algorithm_name | awk '{print $1}')"
        fi
        ;;

    "-d"|"delete"|"--delete")
        if docker ps -a | grep -q $algorithm_name; then
            old_container=$(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "找到旧版本的容器: $old_container"
            docker stop $(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "成功停止旧版本的容器: $old_container"
            echo "开始删除旧版本的容器: $old_container"
            docker rm $(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "成功删除旧版本的容器: $old_container"
        else
            echo "找不到旧版本的容器: $algorithm_name [跳过]"
        fi

        if docker images -a | grep -q $algorithm_name; then
            old_image=$(docker images -a | grep $algorithm_name | awk '{print $1 ":" $2}')
            echo "找到旧版本的镜像: $old_image"
            docker rmi $(docker images -a | grep $algorithm_name | awk '{print $1 ":" $2}')
            echo "成功删除旧版本的镜像: $old_image"
        else
            echo "找不到旧版本的镜像: $algorithm_name [跳过]"
        fi
        ;;

    "-h"|"help"|"--help")
        echo "-i install 仅构建镜像创建容器 , -d delete 删除已有的镜像和容器 , -r restart 重启容器 , \
        默认不传参数 删除已有的容器镜像重新创建新的镜像和容器"
        ;;

    *)
        if docker ps -a | grep -q $algorithm_name; then
            old_container=$(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "找到旧版本的容器: $old_container"
            docker stop $(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "成功停止旧版本的容器: $old_container"
            echo "开始删除旧版本的容器: $old_container"
            docker rm $(docker ps -a | grep $algorithm_name | awk '{print $1}')
            echo "成功删除旧版本的容器: $old_container"
        else
            echo "找不到旧版本的容器: $algorithm_name [跳过]"
        fi

        if docker images -a | grep -q $algorithm_name; then
            old_image=$(docker images -a | grep $algorithm_name | awk '{print $1 ":" $2}')
            echo "找到旧版本的镜像: $old_image"
            docker rmi $(docker images -a | grep $algorithm_name | awk '{print $1 ":" $2}')
            echo "成功删除旧版本的镜像: $old_image"
        else
            echo "找不到旧版本的镜像: $algorithm_name [跳过]"
        fi

        echo "开始构建镜像: $image_name"
        docker_build_cmd="docker build -t $image_name ."
        $docker_build_cmd
        if [ $? -eq 0 ]; then
            echo "构建镜像[正常]: $image_name"
        else
            echo "构建镜像[失败]: 状态码: $?"
            exit -1
        fi

        echo "开始创建容器: $container_name"

        docker run -d \
        $port_param \
        --name $container_name \
        $device_param \
        $docker_run_param \
        --restart=always \
        $image_name

        if [ $? -eq 0 ]; then
            echo "创建容器[正常]: $container_name"
        else
            echo "创建容器[失败]: 状态码: $?"
        fi

        echo "容器创建命令:
        docker run -d \
        $port_param \
        --name $container_name \
        $device_param \
        $docker_run_param \
        --restart=always \
        $image_name"

        ;;
esac
